/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo, .search-icon i {
  color: #a4a4a4;
}

.white .input-field input{
  color: #9c9c9c;
}

.brand-logo img{
  height: 36px;
  line-height: 64px;
}

nav{
  line-height:30px;
}

.margin1x-right{
  margin-right: 0.1em;
}

.margin1x-left{
  margin-left: 1em;
}

.sub-title{
  color: #838383;
}

.section{
  padding: 0px;
}
.card{
  /*margin-bottom: 1px;*/
  /*margin-top: 1px;*/
}
.card-action a{
  text-transform: lowercase;
}
